body {
    padding: 0;
    margin: 0;
    width: 100vw;
}
body section.registered-list {
    display: flex;
    flex-flow: column wrap;
}
body section.registered-list span.header {
    font-family: 'Righteous', cursive;
    font-size: 48;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}
body section.registered-list span.address {
    font-family: 'Righteous', cursive;
    font-size: 24;
    margin-left: 8rem;
    margin-right: 0;
    margin-top: 3rem;
}
body section.registered-list span.address span.address-data {
    font-family: 'Open Sans', sans-serif;
    font-size: 24;
}
body section.registered-list table.divider {
    margin-top: 6rem;
    text-align: center;
}
body section.registered-list table.divider tbody tr {
    font-family: 'Righteous', cursive;
    font-size: 48;
}
body section.registered-list table.content {
    margin-top: 4rem;
}
body section.registered-list table.content tbody {
    text-align: center;
}
body section.registered-list table.content tbody tr.header {
    font-family: 'Righteous', cursive;
    font-size: 36;
}
body section.registered-list table.content tbody tr {
    font-family: 'Open Sans', sans-serif;
    font-size: 24;
}