{% extends 'RumahSakit/base.html' %} {% load static %} {% block content %}
<title>{{ RS.nama }}</title>
<div>
    <h1 style="text-align: center;font-family:Righteous;margin-top:60px;margin-right:2.5%;font-size:250%;">
        {{ RS.nama }}</h1>
</div>

<h3 style="text-align: center;font-family:Righteous;margin-top: 3em;margin-right:2%;font-size:150%;">Ingin Jadi Relawan Apa?
</h3>

<div style="
        margin-top: 1em;
        margin-bottom: 5em;
        padding-right:  10%;
        padding-left:  10%;
        text-align: center;
        color: black;
        font-family:Righteous;">
    <a href="{% url 'daftarperawat' id=RS.id %}" style="margin-right: 10%;"><button class = "btndetail"
            type="submit">Perawat</button></a>
    <a href="{% url 'VolunteerNonPerawat:index' id=RS.id %}"><button class = "btndetail" type="submit">Non-Perawat</button></a>
</div>

<div style="
        margin-top: -2%;
        margin-bottom: 5em;
        padding-right:  10%;
        padding-left:  10%;
        text-align: center;
        color: black;
        font-family:Righteous;">
    <!-- buat daftar pekerjaan sama list pekerjaan -->
    <a href="{% url 'RumahSakit:list-pendaftar' RS.id %}" style="margin-right: 3%;"><button class = "btndetail"
            type="submit">List Pendaftar</button></a>
</div>
{% endblock %}