{% extends 'RumahSakit/base.html' %} {% load static %} {% block content %}
<title>KamiBisa - List Lowongan Relawan</title>
<div>
    <h1 style="color: black; font-family:Righteous;" class="textJudul">Pilih Rumah Sakit yang Ingin Dibantu</h1>
</div>
<div class="table">
    <table style="font-family: Open Sans;width: 100%;">
        <tr style="text-align:center; font-family:Righteous;">
            <th>Nama Rumah Sakit</th>
            <th>Alamat</th>
            <th>Slot Perawat</th>
            <th>Slot Non-Perawat</th>
        </tr>
        {% for RS in all_RS %}
        <tr style="text-align: center;" class=" text-sm-center">
            <td>
                <a class="link-web" href="{% url 'RumahSakit:detailRS' RS.pk %}">
                    <p style="color: blue;">{{ RS.nama }}</p>
                </a>
            </td>
            <td>{{ RS.alamat }} </td>
            <td>{{ RS.jml_prwt }} </td>
            <td>{{ RS.jml_non }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</div>

</div>
{% endblock %}