<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KamiBisa</title>
    <link rel="stylesheet" href="{% static 'TK1_PPW/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">
    <link rel="stylesheet" href="{% static 'RumahSakit/css/list_pendaftar.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- header-->
    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
        <a style="font-size: 200%; color: #000000" class="navbar-brand text-lg-center" href="/">
            Kami<span style="color: #EB5757; margin-right:5%;">bisa</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="font-size: 200%;">Home <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- endheader-->
    <section class="registered-list">
        <span class="header">{{RS.nama}}</span>
        <span class="address">
            Alamat: <span class="address-data">{{RS.alamat}}</span>
        </span>
        <table class="divider">
            <tbody>
                <tr>
                    <th>List Perawat</th>
                    <th>List Non Perawat</th>
                </tr>
            </tbody>
        </table>
        <table class="content">
            <tbody>
                <tr class="header">
                    <th class="header">Name</th>
                    <th class="header">Alasan</th>
                    <th class="header">Name</th>
                    <th class="header">Alasan</th>
                </tr>
                {% for perawat, nonperawat in listVolunteer %}
                <tr>
                    {% if perawat != None %}
                    <td>{{perawat.nama}}</td>
                    <td>{{perawat.alasan}}</td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                    {% if nonperawat != None %}
                    <td>{{nonperawat.nama}}</td>
                    <td>{{nonperawat.alasan}}</td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>

</html>