{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Jobseeker/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">
</head>

<body>
    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>
    </nav>
    <div>
        <img src="{% static 'Jobseeker/img/bg_kerja.jpg' %}" alt="" class="bg">

        <div class="formFlex">
            <div class="cardd">
                <div style="background-color: #f6f6f6;" class="containerr">
                    <div>
                        <h1 class="textJudul">Melamar sebagai
                            {{nama_pekerjaan}}</h1>
                    </div>
                    <div style="font-family:Roboto" class="formnya">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.nama_pelamar.label_tag}}
                                {{form.nama_pelamar}}
                            </div>
                            <div class="form-group">
                                {{form.umur_pelamar.label_tag}}
                                {{form.umur_pelamar}}
                            </div>
                            <div class="form-group">
                                <label for="provinsi_pelamar">Asal Provinsi:</label>
                                <br>
                                <select name="provinsi_pelamar" class="form-control">
                                    {% for provinsi in listProvinsi %}
                                    <!-- {{forloop.counter}} -->
                                    <option value="{{forloop.counter}}">{{provinsi}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                {{form.kota_pelamar.label_tag}}
                                {{form.kota_pelamar}}
                            </div>
                            <div class="form-group">
                                <div style="display: flex; margin:2px">
                                    {{form.pendidikan_terakhir.label_tag}}
                                    <div style="display: flex; flex-direction:column; margin-left:2%;">
                                        {% for type in form.pendidikan_terakhir %}
                                        <div class="form-group-input">
                                            {{type.tag}}
                                            <label for="{{type.id_for_label}}">
                                                {{type.choice_label}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <button id="btnJobseeker" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>