{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pekerjaan.nama_pekerjaan }}</title>
    <link rel="stylesheet" href="{% static 'Kantor/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">
</head>

<body>

    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>
        <li class="nav-item active">
            <a class="nav-link" href="/" style="font-size: 200%;">Home <span class="sr-only">(current)</span></a>
        </li>
    </nav>



    <div>
        <h1 style="text-align: center;font-family:Righteous;margin-top:60px;font-size:200%;">
            {{ pekerjaan.nama_pekerjaan }}</h1>
    </div>


    <div style=" width:75%;margin:0 auto;font-family: Righteous;font-size:85%" class="flex-column">
        <div class="">
            <h4 style="display: inline;">
                Deskripsi:
            </h4>
            <div style="font-family:Kanit;font-weight:20;">
                {{ pekerjaan.deskripsi_kantor }}
            </div>
        </div>
        <div style="margin-top: 30px;" class="text-black-50">
            <h4 style="display: inline;">
                Alamat:
            </h4>
            <div style="font-family:Kanit">
                {{ pekerjaan.alamat }}
            </div>
        </div>
    </div>



    <div style="margin-top: 50px; font-size:200%;">
        <h1 style="text-align: center;font-family:Righteous ">List Of Applicants</h1>
    </div>
    <div style="width: 75%;margin:0 auto;" class="table">
        <table style="font-family:Sans; font-weight:20;width: 100%;">
            <tr style="align-items: center; font-family:Kanit">
                <th>Nama</th>
                <th>Pendidikan Terakhir</th>
                <th>Kota</th>
            </tr>
            {% for pelamar in listPelamar %}
            <tr>
                <th>
                    {{pelamar.nama_pelamar}}
                </th>
                <th>
                    {{pelamar.pendidikan_terakhir}}
                </th>
                <th>
                    {{pelamar.kota_pelamar}}
                </th>

            </tr>
            {% endfor %}
        </table>
    </div>





</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>