img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 7;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
.textJudul {
  margin: 30px 0;
  color: #29c751;
  font-family: Kanit;
  text-align: center;
  font-size: 2em;
}
@font-face {
  font-family: Kanit;
  src: url('../font/Kanit-Medium.ttf');
}
@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Medium.ttf');
}

#btnJobseeker {
  background-color: #29c751;
  color: white;
  border-radius: 32px;
  border: #29c751;
  margin-top: 40px;
  padding: 0 5%;
  /* width: 20%; */
  font-size: 100%;
}

.cardd {
  /* Add shadows to create the "card" effect */
  background-color: #f6f6f600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5%;
  margin-left: 5%;
  width: 125%;
  font-size: 85%;
  /* height: 75%;s */
}

/* On mouse-over, add a deeper shadow */
.cardd:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.containerr {
  padding: 2px 16px;
  padding-bottom: 30px;
}

.formFlex {
  display: flex;
  flex-direction: row-reverse;
  width: 75vw;
  padding-left: 5em;
  height: 100vh;
  float: right;
}
