<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>KamiBisa</title>
        <link rel="stylesheet" href="{% static 'TK1_PPW/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">
        <link rel="stylesheet" href="{% static 'VolunteerNonPerawat/css/style.css'%}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- header-->
        <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
            <a style="font-size: 200%; color: #000000" class="navbar-brand text-lg-center" href="/">
                Kami<span style="color: #EB5757; margin-right:5%;">bisa</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="font-size: 200%;">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>
        <!-- endheader-->

        <section class="form">
            <form action="{% url 'VolunteerNonPerawat:add-vnp' id=id %}" method="POST">
                {% csrf_token %}
                <label class="header">Daftar Menjadi Relawan Sekarang!</label>
                <div class="content">
                    <div class="left-side">
                        <label class="body">Nama:</label>
                        <input type="text" name="nama" maxlength="100" required>
                        <label class="body">Umur:</label>
                        <input type="number" name="umur" min="17" max="55" required>
                        <label class="body">Email:</label>
                        <input type="email" name="email" maxlength="100" required>
                        <label class="body">Asal Provinsi:</label>
                        <select name="provinsi">
                            {% for provinsi in listProvinsi %}
                            <option value="{{forloop.counter}}">{{provinsi}}</option>
                            {% endfor %}
                        </select>
                        <label class="body">Asal Kota:</label>
                        <input type="text" name="kota" maxlength="50" required>
                        <label class="body">No Telp:</label>
                        <input id="no_telp-box" type="text" name="no_telp" min="99999" max="999999999999" required>
                    </div>
                    <div class="right-side">
                        <span class="body">Ceritakan pengalaman Anda sebelumnya dalam menjadi relawan:</span>
                        <span class="body"></span>
                        <input class="desc-box" type="text" name="pengalaman" required>
                        <span class="body">Alasan ingin menjadi relawan:</span>
                        <input class="desc-box" type="text" name="alasan" required>
                        <button type="submit" class="body" id="submit">Daftar</button>
                    </div>
                </div>
            </form>
            {% comment %} <div style="display: flex; flex-flow: column wrap; margin-left: 3rem;">
                    <label style="margin-top: 1.5rem; font-weight: bold; font-family: 'Kanit', sans-serif; font-size: 1.25rem;">List VolunteerNonPerawat</label>
                    <br>
                    {% if vnp_list %}
                    {% for vnp in vnp_list %}
                    <form action="{% url 'VolunteerNonPerawat:delete-vnp' vnp.id %}" method="POST" style="display: flex; flex-flow: column wrap; margin-left: 0;">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ vnp.id }}">
                        <label>- {{ vnp.nama }} <button type="submit" style="width: 2rem">X</button></label>
                        <label>> Nama: {{ vnp.nama }}</label>
                        <label>> Umur: {{ vnp.umur }}</label>
                        <label>> Email: {{ vnp.email }}</label>
                        <label>> Provinsi: {{ vnp.provinsi }}</label>
                        <label>> Kota: {{ vnp.kota }}</label>
                        <label>> Pengalaman: {{ vnp.pengalaman }}</label>
                        <label>> Alasan: {{ vnp.alasan }}</label>
                    </form> 
                    <br>
                    {% endfor %}
                    {% endif %}
                </div> {% endcomment %}
        </section>
    </body>
</html>