{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- for social media icons -->
  {% block static %}{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'TK1_PPW/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css' %}">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}KamiBisa{% endblock %}</title>
</head>

<body>

  <!-- header-->


  <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
    <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
        style="color: #E2696A; margin-right:5%;">
        Bisa
      </span>
    </a>

    <div style="" class="navTulis">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="RumahSakit/listRS">List Rumah Sakit <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'list-lowongan' %}">Cari Kerja <span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- endheader-->

  <div class="section">
    <div class="a"><img class="respImg" src="{% static 'Jobseeker/img/a.jpg' %}" width="400" height="300"></div>
    <div class="tulisan">
      <h3>Pandemi covid sedang terjadi...</h3>
      <h3>Banyak yang terdampak...</h3>
      <h3>Semua orang Perlu Bantuanmu...</h3>
      <br>
      <h3>Siapkah kamu untuk menyalurkan tangan </h3>
      <h3>untuk yang membutuhkan?</h3>
    </div>
    <a href="RumahSakit/listRS"><button class="btn">DAFTAR MENJADI RELAWAN</button></a>
  </div>

  <hr>

  <div class="section">
    <div class="a"><img class="respImg" src="{% static 'Jobseeker/img/b.jpg' %}" width="400" height="300"></div>
    <div class="tulisan">
      <h3>Anda terdampak dan perlu pekerjaan?</h3>
    </div>
    <a href="{% url 'list-lowongan' %}"><button class="btn">CARI KERJA</button></a>
  </div>

  <hr>

  <div class="section">
    <div class="a"><img class="respImg" src="{% static 'Jobseeker/img/c.jpg' %}" width="400" height="300"></div>
    <div class="tulisan">
      <h3>Pandemi covid sedang terjadi...</h3>

      <h3>Tingkat okupansi rumah sakit semakin meningkat...</h3>
      <h3>Kebutuhan akan tenaga medis pun meningkat...</h3>
      <br>
      <h3>Apakah Rumah Sakit Anda kekurangan tenaga keperawatan
        <h3>atau membutuhkan relawan untuk tes vaksin?</h3>
    </div>
    <a href="{% url 'RumahSakit:daftarRS' %}"><button class="btn">DAFTARKAN RUMAH SAKIT</button></a>
  </div>

  <hr>

  <div class="section">
    <div class="a"><img class="respImg" src="{% static 'Jobseeker/img/d.jpg' %}" width="400" height="300"></div>
    <div class="tulisan">
      <h3>Sejak pandemi Covid-19...</h3>
      <h3>Banyak orang yang kehilangan pekerjaan mereka...</h3>
      <br>
      <h3>Apakah usaha anda membutuhkan</h3>
      <h3>tenaga profesional dan terpercaya?</h3>
      <h3>
        Mari bantu mereka!</h3>
    </div>
    <a style="color: white;" href="{% url 'tambah-lowongan' %}"><button class="btn">BUKA LOWONGAN PEKERJAAN</button></a>
  </div>

</body>

</html>